<div class="header">
  @if(currentMessage()?.player; as player) {
  {{ player.location.zone }} - {{ player.location.room }}
  }
</div>
<div class="output-container">
  <div #scrollContainer class="output-content">
    @for(message of history(); track message.id) {
      @if(message.input && message.input.startsWith('map') && message.map) {
      <div>
        Map:
        <pre>{{ message.result.response }}</pre>
      </div>
      } @else {
      <div>
        @if(message.input) {
        <div class="command-text">Command: {{ message.input }}</div>
        }
        @for (line of message.responseLines; track line) {
        <div [ngClass]="getCssClass(line)">
          {{ line }}
        </div>
        }
        @if(message.result.exits) {
        <div class="exits-text">Exits: {{ message.result.exits }}</div>
        }
        @if(message.result.npcs) {
        <div class="npcs-text">NPCs: {{ message.result.npcs }}</div>
        }
        @if(message.result.mobs) {
        <div class="mobs-text">Mobs: {{ message.result.mobs }}</div>
        }
      </div>
      }
    }
  </div>

  @if(currentMessage(); as msg) {
    @if(msg.player?.stats; as stats) {
    <div class="right-content">
      <div class="player-info">
        Name: {{ msg.player!.name }}
        <br />
        Level: {{ stats.progress.level }} ({{ stats.progress.xp }})
        <br />
        Health: {{ stats.health.current }}/{{ stats.health.max }}
        <br />
        Gold: {{ msg.player!.gold }}
        @if(msg.map; as map) {
        <br />
        Map:
        <div class="map">
          <pre>{{ map.replace("Map:\n\n", "") }}</pre>
        </div>
        }
      </div>
    </div>
    }
  }
</div>