.header {
  background-color: #000;
  color: #fff;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
  height: 25px;
}

.output-content {
  margin-top: 10px;
  margin-left: 10px;
  overflow-y: auto;
  height: calc(100vh - 90px);
  flex: 1;
  min-width: 0;
  padding-right: 10px;
}

.right-content {
  padding-left: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  max-width: 500px;
  border-left: solid 1px black;
  height: calc(100vh - 90px);
  flex-shrink: 0;
}

.player-info {
  margin-left: 30px;
}

.command-text {
  font-style: italic;
  color: rgb(75, 75, 77);
}

.exits-text {
  color: rgb(6, 111, 16);
}

.npcs-text {
  color: rgb(180, 100, 20);
}

.mobs-text {
  color: rgb(180, 0, 0);
}

.inventory-text {
  color: rgb(20, 80, 140);
}

.response-text {
  color: rgb(30, 30, 30);
}

.error-banner {
  background-color: rgb(255, 240, 240);
  color: rgb(180, 0, 0);
  padding: 8px 16px;
  text-align: center;
  border-bottom: 1px solid rgb(180, 0, 0);
}

.output-container {
  display: flex;
}

.map {
  margin: 0 auto;
  width: 200px;
}

@media (max-width: 900px) {
  .output-container {
    flex-direction: column;
  }

  .right-content {
    max-width: 100%;
    border-left: none;
    border-top: solid 1px black;
    height: auto;
    min-height: 200px;
    margin-left: 0;
    padding-left: 10px;
  }

  .output-content {
    height: calc(50vh - 90px);
  }
}

@media (max-width: 600px) {
  .player-info {
    margin-left: 10px;
  }

  .header {
    font-size: 14px;
  }
}
