<div class="header">
  @if(currentMessage && currentMessage.player) {
  {{ currentMessage.player.zone }} - {{ currentMessage.player.room }}
  }
</div>
<div class="output-container">
  <div #scrollContainer class="output-content">
    @for(message of history; track $index) { @if(message.input &&
    message.input.startsWith('map') && message.map) {
    <div>
      Map:
      <pre>{{ message.result.response }}</pre>
    </div>
    } @else {
    <div>
      @if(message.input) {
      <div class="command-text">Command: {{ message.input }}</div>
      } @for (line of message.responseLines; track $index) {
      <div [ngClass]="getCssClass(line)">
        {{ line }}
      </div>
      } @if(message.result.exits) {
      <div class="exits-text">Exits: {{ message.result.exits }}</div>
      } @if(message.result.npcs) {
      <div class="npcs-text">NPCs: {{ message.result.npcs }}</div>
      } @if(message.result.mobs) {
      <div class="mobs-text">Mobs: {{ message.result.mobs }}</div>
      }
    </div>
    } }
  </div>

  @if(currentMessage && currentMessage.player && currentMessage.player.stats) {
  <div class="right-content">
    <div class="player-info">
      Level: {{ currentMessage.player.stats.progress.level }} ({{
        currentMessage.player.stats.progress.xp
      }})
      <br />
      Health: {{ currentMessage.player.stats.health.current }}/{{
        currentMessage.player.stats.health.max
      }}
      <br />
      Gold: {{ currentMessage.player.gold }}
      @if(currentMessage.map) {
      <br />
      Map:
      <div class="map">
        <pre>{{ currentMessage.map.replace("Map:\n\n", "") }}</pre>
      </div>
      }
    </div>
  </div>
  }
</div>
