.output-style {
  display: block;
  margin: 10px;
  overflow-y: auto;

  height: calc(100vh - 55px);
  width: calc(100vw - 15px);
}

.command-text {
  font-style: italic;
  color: rgb(117, 118, 120);
}

.exits-text {
  color: rgb(6, 111, 16);
}

.npcs-text {
  color: rgb(210, 119, 34);
}

.inventory-text {
  color: rgba(25, 101, 168, 0.81);
}

.output-container {
  display: flex;
}

.right-content {
  padding-left: 10px;
  margin-top: 15px;
  margin-left: 10px;
  width: 500px;
  border-left: dashed 1px black;
}

.map {
  margin: 0 auto;
  width: 200px;
}
