<div>
    @foreach (var output in Output)
    {
        <div class="output-item">
            @output
        </div>
    }
</div>

@code {
    [Parameter]
    public List<string> Output { get; set; }
}
