.input-content {
  position: absolute;
  bottom: 10px;
  width: calc(100vw - 15px);
  border-top: 1px dashed black;
  margin-left: 5px;
  padding-top: 5px;
}

.input {
  padding-left: 5px;
  width: calc(100vw - 50px);
}