.input-content {
  position: absolute;
  left: 0;
  right: 0;
  border-top: 1px solid black;
  margin-left: 5px;
  margin-right: 5px;
}

.input {
  padding-left: 5px;
  width: calc(100% - 30px);
  max-width: 100%;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .input-content {
    margin-left: 2px;
    margin-right: 2px;
  }

  .input {
    width: calc(100% - 20px);
  }
}
