@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/RobotoMono-Medium.ttf) format("truetype");
  font-weight: medium;
}

* {
  // font: 42px 'VT323', monospace;
  font: 22px "Roboto", monospace;
  margin: 0px;
  padding: 0px;
  // background-color: #000;
  // color: #fff;
  background-color: #fff;
  color: #000;
}

input {
  border: none;
  outline: none;
  color: #000;
}
