@font-face {
  font-family: "RobotoMono";
  src: url("/fonts/RobotoMono-Medium.ttf") format("truetype");
  font-display: swap;
}

html,
body {
  font: 24px "RobotoMono", monospace;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000;
}

input {
  font: inherit;
  border: none;
  outline: none;
  background: transparent;
  color: inherit;
}
